@page
@model Shop.Pages.Checkout.CustomerCheckInformationModel
@{
}

    <div>
        <form method="post">
            <div>
                <input asp-for="CustomerInformation.First_Name" />
                <span asp-validation-for="CustomerInformation.First_Name"></span>
            </div>
            <div>
                <input asp-for="CustomerInformation.Last_Name" />
                <span asp-validation-for="CustomerInformation.Last_Name"></span>
            </div>
            <div>
                <input asp-for="CustomerInformation.PhoneNumber" />
                <span asp-validation-for="CustomerInformation.PhoneNumber"></span>
            </div>
            <div>
                <input asp-for="CustomerInformation.Email" />
                <span asp-validation-for="CustomerInformation.Email"></span>
            </div>
            <div>
                <input asp-for="CustomerInformation.Adress1" />
                <span asp-validation-for="CustomerInformation.Adress1"></span>
            </div>
            <div>
                <input asp-for="CustomerInformation.Adress2" />
                <span asp-validation-for="CustomerInformation.Adress2"></span>
            </div>
            <div>
                <input asp-for="CustomerInformation.City" />
                <span asp-validation-for="CustomerInformation.City"></span>
            </div>
            <div>
                <input asp-for="CustomerInformation.PostCode" />
                <span asp-validation-for="CustomerInformation.PostCode"></span>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

