@page
@model Shop.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}
    <div id="app" class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="menu">
                    <div class="menu-label">Admin panel</div>
                    <ul class="menu-list">
                        <li><a>Products</a></li>
                        <li><a>Orders</a></li>
                        <li><a>Stock</a></li>
                    </ul>
                </div>
            </div>
            <div class="column is-9">
                <product-manager></product-manager>
            </div>
        </div>    
</div>

@section scripts{
    <script src="~/js/Vue.js"></script>
    <script src="~/js/Axios.js"></script>
    <script src="~/js/admin/product-component.js"></script>
    <script src="~/js/admin/main.js"></script>
}

