@page
@model OrderMenagmentModel
@{
}
<div id="app">
    <div v-if="selectedOrder === null">
        <div class="tabs is-centered">
            <ul>
                <li v-bind:class="{'is-active': status === 0}"><a @@click="status = 0">Pending</a></li>
                <li v-bind:class="{'is-active': status === 1}"><a @@click="status = 1">Packed</a></li>
                <li v-bind:class="{'is-active': status === 2}"><a @@click="status = 2">Skipped</a></li>
            </ul>
        </div>
        <div>
            <table class="table">
                <tr v-for="order in orders">
                    <td><a @@click="selectOrder(order.id)">{{order.orderRef}} - {{order.email}}</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div v-else>

        <p class="title">{{selectedOrder.orderRef}}</p>
        <p class="subtitle">{{selectedOrder.email}}</p>
        <p class="subtitle">{{selectedOrder.first_name}}</p>
        <button class="button is-success is-small" @@click="updateOrder">Process</button>
        <button class="button is-dark is-small" @@click="exitOrder()">Exit</button>
    </div>
</div>
@section scripts
{
<script src="~/js/admin/orders.js"></script>
}
