@model IEnumerable<Shop.Application.Cart.GetCart.Response>
@{

}
<h2>Small Cart Component</h2>
<div>
    @foreach (var product in Model)
    {<div>
        <span>@product.Name</span>
        <span>@product.Value</span>
        <span>@product.Quality</span>
     </div>
    }
</div>
